.message {
    padding: 15px;

    &__title {
        margin-bottom: 10px;
    }

    &__card {
        margin-bottom: 5px;
        border: 1px solid #eee;
        border-radius: 5px;
        padding: 4px;

        &-title {
            margin-bottom: 5px;
        }
    }
}

// #top-center {
//     display: inline-block !important; 
//     max-width: 600px !important;
//     width: 100% !important;
// }